button{
    cursor: pointer;
}

.btn-add{
    padding: 10px;
    width:100%;
    max-width: 800px;
    text-align: center;
    margin-top: 8px;
    border-radius:  10px;
    font-size: 15px;
    font-weight:bold;
    background-color: var(--button-color);
    border: 0;
    color: var(--logo-color);
}

.btn-add:hover{
    background-color: var(--button-dark-color);
}

.todo-edit,
.todo-delete{
    background: none;
    border: 0;
}

.todo-edit .md,
.todo-delete .md{
    color: var(--button-color);
    font-size: 30px;

}

.md:hover{
    color: var(--button-dark-color);
}
